=form_with model:task, local: true do |f|
  =f.text_field :title, placeholder: "title", value: task.title
  =f.text_field :description, placeholder: "description", value: task.description
  =f.submit
