  =search_form_for search, class:'field is-grouped' do |f|
    p.control=f.search_field :title_cont, class: 'input ',placeholder: 'タイトル検索'
    p.control=f.select :status_eq, Task.statuses.map{ |key, val| [Task.statuses_i18n[key], val] },{include_blank: 'すべて'}, class:'select control'
    p.control=f.submit '検索', class: 'control button is-info'
